@import url("animation.css");

body {
  padding-top: 100px;
  /* background-color: rgb(192, 192, 192); */
  background-image: url("../img/bg-img/profile-gradient.png");
  background-size: cover;
  background-position: 50%;
}

.donation {
  /* border: 1px solid; */
  border-radius: 20px;
  height: 700px;
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;

  display: flex;
}

.donation-left {
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* min-width: 300px; */
  flex: 0.4;
  background-color: white;
  /* min-width: 250px;
  max-width: 1000px; */
}

.donation-left img {
  width: 100%;
  height: 100%;
}

.donation-right {
  flex: 0.6;
  position: relative;

  background-image: url(../img/donation-img/donation-bg.png);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}

.container {
  background-color: white;
  width: 85%;
  min-width: 420px;
  height: 80%;
  border-radius: 15px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container h2 {
  /* border: 1px solid; */
  width: fit-content;
  font-size: 35px;
  font-weight: 500;
}

.container span {
  /* border: 1px solid; */
  font-size: 13px;
  color: grey;
  width: 85%;
  min-height: 50px;
  max-width: 400px;
}

.container fieldset{
  border: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* column-gap: 10px; */
  row-gap: 10px;
}

.container fieldset legend {
  margin-bottom: 5px;
}

.container fieldset div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-shrink: 0;
  column-gap: 10px;
  cursor: pointer;
}

.amount-selection {
  margin: 20px 0;
}

#custom-amount-box {
  display: none;
  width: 200px;
  flex: 1;
  border: none;
  background-color: rgb(231, 231, 231);
  padding: 10px 20px;
  border-radius: 10px;
}
#custom-amount-box.active {
  display: block;
}

.upload-file {
  background-color: #AC947C;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}

.upload-file:hover, #submit-donation:hover {
  cursor: pointer;
}

#insert-file {
  display: none;
}

.file-content i, .amount-option-message i, .custom-amount-message i{
  color: red;
}

.file-content i:hover {
  cursor: pointer;
}

#submit-donation {
  margin-top: auto;
  border: none;
  background-color: #AC947C;
  padding: 15px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
