@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playpen+Sans&family=Roboto:ital,wght@0,400;0,500;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Manrope&family=Playpen+Sans&family=Roboto:ital,wght@0,400;0,500;1,500&family=Rubik&display=swap');

:root {
  font-size: 16px;
  background-color: #fff;
  font-family: Rubik;
}

/* total width */
::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  width: 5px;
  height: 5px;
  z-index: 999999;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
  border-radius: 16px;
  border: 0px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

/* scrollbar when element is hovered */
*:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  /* border: 4px solid #fff; */
}

/* scrollbar when scrollbar is hovered */
::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  /* border: 4px solid #f4f4f4 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 65px 0px 0px 0px;
  padding: 0;
  padding-bottom: 500px;
  position: relative;
}

ul {
  list-style: none;
}

input {
  user-select: none;
}