* {
    box-sizing: border-box;
}

body {
    display:flex;
    background-color:#ffffff;
    background-image: url(../img/login-img/login\ background\ gradient\ colour.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    overflow-y: hidden;
}

h1 {
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 15px;
}

h1.title {
    font-size: 40px;
    line-height: 45px;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 30px 0 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0 ,0.3);
}

span {
    font-size: 15px;
    color: #A9A9A9;
    margin-top: 10px;
    margin-bottom: 16px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3 ease-in-out;
}

a:hover {
    color: #6988ad;
}

.content {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    gap: 60px;
}

.content .remember {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input{
    accent-color: #333;
    width: 12px;
    height: 12px;
}

.content label {
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
}

.content .forget {
    font-weight: 20px;
}

button {
    position: relative;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    padding: 12px 100px;
    letter-spacing: 0.5px;
    cursor: pointer; 
    transition: 0.4s ease-in-out;
}

button:hover {
    letter-spacing: 3px;
}

/After clicking button features/

button:active {
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.transparent {
    background-color: rgba(0, 0, 0, 0.21);
    border: 2px solid #5A5A5A;
    color: white; 
    padding: 10px 100px; 
    font-size: 16px; 
}
  
button.transparent:hover {
    background-color: rgba(95, 140, 186, 1); /* Adjust opacity on hover if desired */
    border: none;
}
  
.with-google form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.with-google button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    border: none;
    max-width: 300px;
    color: #000000;
    gap: 10px;
    white-space: nowrap;
}

.with-google img {
    width:18px;
    height: auto;
}

.form1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form2 {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 35px;
    height: 100%;
    width: 100%;
}

input{
    background-color: #F2F2F2;
    border-radius: 15px; 
    border: none;
    padding: 13px 25px;
    margin: 14px 0;
    width: 100%;
}

select {
    background-color: #F2F2F2;
    border-radius: 15px; 
    border: none;
    padding: 13px 25px;
    margin-right: 10px;
    margin: 14px 0;
    width: 100%;
}

input:focus, select:focus {
    outline: 2px solid #6988ad;
}

.box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    
    width: 768px;
    max-width: 100%;
    min-height: 500px;
}

.register, .login{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.registration {
    width: 45%;
    z-index: 101;
    position: fixed;
    top: 5%;
    left: 27.5%;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: none;
}

.login {
    left: 0;
    width: 50%;
    z-index: 2;
}

.box.right-side .login {
    transform: translateX(100%);
}

.register {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.box.right-side .register {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.message {
    font-size: 12px;
    margin: 0;
    width: 90%;
    text-align: left;
}

.symbol {
    color: red;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,100% {
        opacity: 1;
        z-index: 5;
    }
}

.scrolling-box {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.box.right-side .scrolling-box {
    transform: translate(-100%);
}

.scrolling {
    background-image: url(../img/login-img/blue-elegant-watercolor-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
}

.scrolling::before {
    content: "";
    background-color: rgba(52, 52, 52, 0.24);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.box.right-side .scrolling {
    transform: translateX(50%);
}

.scrolling-left, .scrolling-right{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.scrolling-left{
    transform: translateX(-20%);
  }

.box.right-side .scrolling-left {
  transform: translateX(0);
}

.scrolling-right {
    right: 0;
    transform: translateX(0);
}

.box.right-side .scrolling-right {
    transform: translateX(20%);
}

@media screen and (max-width: 700px){

    .box {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 600px;
        max-width: 100%;
        min-height: 450px;
    }

    h1 {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -1px;
        margin: 0;
        margin-bottom: 15px;
    }
    
    h1.title {
        font-size: 28px;
        line-height: 45px;
        margin: 0;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    
    p {
        font-size: 10px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 30px 0 30px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0 ,0.3);
    }
    
    span {
        font-size: 10px;
        color: #A9A9A9;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    a {
        color: #333;
        font-size: 10px;
        text-decoration: none;
        margin: 14px 0;
        transition: 0.3 ease-in-out;
    }

    .content {
        display: flex;
        width: 100%;
        height: 30px;
        margin-bottom: 22px;
        align-items: center;
        gap: 30px;
    }

    .content label {
        font-size: 11px;
        user-select: none;
        padding-left: 5px;
    }

    button {
        position: relative;
        border-radius: 20px;
        border: 1px solid black;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: 600;
        margin: 1px;
        padding: 8px 50px;
        letter-spacing: 0.3px;
        cursor: pointer; 
        transition: 0.4s ease-in-out;
    }

    button.transparent {
        background-color: rgba(0, 0, 0, 0.21);
        border: 2px solid #5A5A5A;
        color: white; 
        padding: 8px 40px; 
        font-size: 13px; 
    }

    .with-google button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F0;
        border: none;
        max-width: 190px;
        font-size: 12px;
        color: #000000;
        gap: 10px;
        white-space: nowrap;
    }

    .with-google img {
        width:14px;
        height: auto;
    }

    .form1 {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
        text-align: center;
    }
}